body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #be5cc9;
    color: #0d0101;
    text-align: center;
    padding: 10px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 30%;
}

.product img {
    max-width: 100%;
}

.add-to-cart {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

.cart {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    max-width: 300px;
}

.cart h2 {
    margin: 0;
}

#cart-items {
    list-style: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.cart-item button {
    background-color: rgb(167, 55, 189);
    color: #fff;
    border: none;
    padding: 2px 5px;
    cursor: pointer;
}